*{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}
.wrapper{
  max-width: 1140px;
  margin: auto;
  display: flex;
  align-items: center;
}
.App {
  position: relative;
  &__notifications{
    position: fixed;
    bottom: 50px;
    left: 50px;
  }
}
